.cardItem {
    position: relative;
    border-radius: 10px;
    width: 100%;
    

    .gradient {
        height: 255px;
        width: 100%;
        position: absolute;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);

        @media screen and (min-width: 768px) {
            height: 340px;
        };
    }

    img {
        object-fit: cover;
        height: 255px;
        width: 100%;
        border-radius: 10px;
        border-radius: 10px;

        @media screen and (min-width: 768px) {
            height: 340px;
        };
    }

    h2 {
        position: absolute;
        bottom: 5px;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        padding-left: 20px;
        padding-right: 10px;
    }
}