.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 15px 0 15px;

    &__logo {
        &--computer {
            display: none;
            @media screen and (min-width: 768px) {
                display: flex;
            };
        }

        &--mobile {
            @media screen and (min-width: 768px) {
                display: none;
            };
        }
    };
    
    &__navbar {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
            font-size: 24px;
            text-transform: none;
        }

        &--home,
        &--about {
            color: #FF6060;
            padding-left: 26px;
        }
    };

    @media screen and (min-width: 768px) {
        margin: 40px 80px 0 80px;
    };
};