@import './variables.scss';

body {
  margin: 0;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  header,
  footer {
    flex-shrink: 0;
  };

  main {
    flex-grow: 1;
  };

  a {
    text-decoration: none;
  };
};
